/* styles.css */
body {
    margin: 0;
    padding: 0;
    height: 100vh; 
    background-image: url('../images/BackroundHome.jpg'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
}
button{
    background-color: transparent;
    color: aliceblue;
    border-color: aliceblue;
    border-style: solid;
    border-radius: 10px;
}
