body {
    font: optional;
    color: aliceblue;
    font-size: large;
    text-align: center;
    background-image: url('../images/natureimage.jpeg');
    background-size: cover; 
    background-position: center center; 
    background-repeat: no-repeat; 
    background-attachment: fixed;
 
}
#collection {
    text-align: left;
    margin: 20px;
    font-family: 'Courier New', Courier, monospace;
    white-space: pre-wrap;  /*respects line breaks apparently making it look nicer*/
}

